<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>wurstschreiber.py</string>
			<key>preferredName</key>
			<string>WurstSchreiber</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Alexandre Saumier Demers</string>
	<key>developerURL</key>
	<string>http://asaumierdemers.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>WurstSchreiber</string>
	<key>requiresVersionMajor</key>
	<string>4</string>
	<key>requiresVersionMinor</key>
	<string>0</string>
	<key>timeStamp</key>
	<real>1391695608.2098999</real>
	<key>version</key>
	<string>1.0</string>
	<key>repository</key>
	<string>asaumierdemers/WurstSchreiber</string>
	<key>extensionPath</key>
	<string>WurstSchreiber.roboFontExt</string>
</dict>
</plist>
